h1 {
    color: #f44336;
}

h2 {
    color: #3f51b5;
}

h3 {
    color: #4caf50;
}

a {
    color: #ffc107;
}

#hero {
    color: #3f51b5;
}

#clubs {
    color: #9c27b0;
}

#benefits {
    color: #00bcd4;
}

#programs {
    color: #ff9800;
}