body {
    font-family: "Poppins",
        sans-serif;
    font-size: 14px;
    color: #212121;
    background-color: #fafafa;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #212121;
    line-height: 1.333;
}

ul, ol {
    list-style-type: none;
}

.page-header {
    background-color: #bdbdbd;
}

.page-title {
    color: #f44336;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #212121;
}

.section-title {
    color: #3f51b5;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.section-text {
    color: #ff5722;
    line-height: 1.5;
    text-indent: 24px;
}

.page-footer {
    background-color: #212121;
}

.copyright-text {
    color: #ffffff;
}

.club-list {
    list-style-type: none;
}
.club-list .title {
    color: #4caf50;
    font-size: 16px;
    text-align: center;
}

.club-list .text {
    color: #009688;
}

.club-list .link {
    color: #ffc107;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}   

.benefits > li {
    color: #d500f9;
}

.page-nav .link {
    color: #00bcd4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.page-nav .link:active {
    color: #212121;
}

.club-list .link:active{
    color: #ff1744;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #18ffff;
}

.club-list .link:hover,
.club-list .link:focus {
    color: #f57f17;
    text-decoration: underline;
}

.downloads .link {
    text-decoration: none;
}

.downloads .plan-name {
    color: #ff1744;
}

.downloads .link:hover,
.downloads .link:focus {
    text-decoration: underline;
}